.info-item {
  width: 100%;
}

.cart-item, .table-heading {
  border-top: 1px solid grey;
  padding: 10px 0;
}

.cart-item__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-item-container--checkout {
  height: fit-content;
  overflow-y: auto;

  .table-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;

    p {
      &.serial {
        width: 75px;
      }

      &.total {
        width: 80px;
        text-align: right;
      }

      &:not(:first-of-type) {
        margin-left: 50px;
      }
    }
  }

  li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &.table-heading {
      padding-left: 100px;
      padding-right: 12px;
    }
  }
}