.checkout-page {
  background-color: rgba(170, 170, 170, 0.2);

  .info-container {
    background-color: unset;

    &--multiple {
      gap: 30px;
    }

    &:last-of-type {
      text-align: center;
    }
  }

  input {
    width: fit-content;
  }

  .table-heading {
    width: 100% !important;
  }

  form {
    .field-container {
      label {
        width: 250px;
      }
      input, textarea {
        width: 100%;
      }
      textarea {
        height: auto;
      }
    }
  }

  .total-info {
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      text-align: center;
    }
  }

  .total--partial {
    display: flex;
    justify-content: space-between;
  }

  .info-item {
    background-color: white;
    padding: 10px 20px;
    &__subitem {
      label {
        display: flex;
        width: fit-content;
      }
    }

    &__titles {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--alt {
        justify-content: flex-end;

        .btn-sidebar--cart {
          margin: unset;
          margin-inline: 15px;
        }
      }

      input {
        margin-left: 20px;
        max-width: 300px;
      }
    }
  }

  .btn-sidebar--cart {
    margin: auto;
    width: fit-content;
    padding-inline: 15px;
  }
}